.vscode/
/console/build
font.dat
/mySimpleComputer/build
/myBigChars/build
/myReadkey/build
/mySimpleComputer/lib
/mySimpleComputer/mem
/mySimpleComputer/save
/myTerm/build
/translators/build
form.sh
output
*.o
!/examples/*